<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efa5e3">  <td>19/09/26 16:24:00</td>   <td>0</td> <td title="&gt;&gt;Setup.setBrowser()[pri:0, instance:tests.AutomationPracticeHomeActions@61f8bee4]">&gt;&gt;setBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@527446182</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/09/26 16:24:14</td>   <td>13975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationPracticeHomeActions.testCase([Ljava.lang.String;)[pri:0, instance:tests.AutomationPracticeHomeActions@61f8bee4]">testCase</td> 
  <td>main@527446182</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/09/26 16:24:22</td>   <td>22652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationPracticeHomeActions.testCase([Ljava.lang.String;)[pri:0, instance:tests.AutomationPracticeHomeActions@61f8bee4]">testCase</td> 
  <td>main@527446182</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/09/26 16:24:30</td>   <td>29962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationPracticeHomeActions.testCase([Ljava.lang.String;)[pri:0, instance:tests.AutomationPracticeHomeActions@61f8bee4]">testCase</td> 
  <td>main@527446182</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/09/26 16:24:37</td>   <td>37729</td> <td title="&lt;&lt;Setup.closeBrowser()[pri:0, instance:tests.AutomationPracticeHomeActions@61f8bee4]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@527446182</td>   <td></td> </tr>
</table>
