<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac9a89">  <td>19/09/26 14:21:32</td>   <td>0</td> <td title="&gt;&gt;Setup.setBrowser()[pri:0, instance:tests.AutomationPracticeHomeActions@45b9a632]">&gt;&gt;setBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>19/09/26 14:21:56</td>   <td>23692</td> <td title="&lt;&lt;Setup.closeBrowser()[pri:0, instance:tests.AutomationPracticeHomeActions@45b9a632]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
</table>
